<footer class="footer ">
    <div class="container">
        <a href="#" class="navbar-brand">DevTricks</a>
        <div class="row w-100 mt-5 footer-topic">
            <div class="col-6 col-lg-3">
                <p>
                    FEATURED PROGRAMS
                    <p>
                        <ul>
                            <li>Java Developer</li>
                            <li>Android Developer</li>
                            <li>Full Stack Web Developer</li>
                            <li>React</li>
                        </ul>
            </div>
            <div class="col-6 col-lg-3">
                <p>
                    RESOURCES
                    <p>
                        <ul>
                            <li>Catalog</li>
                            <li>Career Resource Center</li>
                            <li>Get Hired</li>
                            <li>Scholarships</li>
                        </ul>
            </div>
            <div class="col-6 col-lg-3">
                <p>
                    PROGRAMS
                    <p>
                        <ul>
                            <li>Veterans</li>
                            <li>Georgia Tech</li>
                        </ul>
            </div>

            <div class="col-6 col-lg-3">
                <p>
                    SUPPORT
                    <p>
                        <ul>
                            <li>Contact Us</li>
                            <li>Help and FAQ</li>
                            <li>Service Status</li>
                            <li>Tech Requirements</li>
                        </ul>
            </div>
        </div>
        <div class="row w-100 mt-2">
            <p class="copy-right">© 2011–2019 Udacity, Inc.</p>
            <ul class="footer-menu">
                <li>Legal & Privacy</li>
                <li>Regulatory Information</li>
                <li>Site Map</li>
            </ul>
            <div class="ml-auto"><span><i class="material-icons">
                        school
                    </i></span>
                <span><i class="material-icons">
                        signal_cellular_alt
                    </i> </span>
                <span><i class="material-icons">
                        signal_cellular_alt
                    </i> </span>
                <span><i class="material-icons">
                        signal_cellular_alt
                    </i> </span>
                <span><i class="material-icons">
                        signal_cellular_alt
                    </i> </span></div>
                   
                    
        </div>
         <p class="end-footer"> "Nanodegree" is a registered trademark of Udacity. © 2011–2019 Udacity, Inc. </p>

    </div>

</footer>