{{!-- Navigation Bar --}}
<nav class="navbar navbar-expand-lg navbar-light py-5">
    <div class="container">
        <a href="#" class="navbar-brand">DevTricks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu">
            <i class="fas fa-bars"></i>
        </button>

        <div id="navmenu" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-3 dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="dropdown"
                        data-toggle="dropdown">Program
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Front End Development</a>
                        <a class="dropdown-item" href="#">Back end Development </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Machin Learning</a>
                    </div>

                </li>
                <li class="nav-item mx-3"><a href="#" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link btn btn-primary px-5 mx-3">MY CLASSROOM</a></li>
            </ul>
        </div>
    </div>
</nav>