<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/webfonts/fa-brands-400.ttf">
    <link rel="stylesheet" href="/assets/webfonts/fa-regular-400.ttf">
    <link rel="stylesheet" href="/assets/webfonts/fa-solid-900.ttf">
    <link rel="stylesheet" href="/assets/webfonts/fa-solid-900.woff2">
    <link rel="stylesheet" href="/assets/css/MaterialIcons-Regular.ttf">
    <link rel="stylesheet" href="/assets/css/MaterialIcons-Regular.woff">
    <link rel="stylesheet" href="/assets/css/MaterialIcons-Regular.woff2">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/material-icons.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/devtricks.css">
    <title>Dev tricks website</title>
</head>
<body>
    {{> navbar}}
    {{{body}}}

    
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script>
        //event when menu has been shown
       $('.dropdown').on('shown.bs.dropdown',function(e){
           console.log(e.target);
           e.target.style.backgroundColor = '#e5eff5';
       }) 
       //event when menu has been closed
        $('.dropdown').on('hidden.bs.dropdown',function(e){
          e.target.style.backgroundColor = '#fff';
       }) ;

       $(document).ready(function(){

           $('.tab-header li').on('click',function(){
               const text = $(this).text();
               $(this).css({color:'#000'}).siblings().css({color:'#96a0aa'});
               const transformText = text.trim().replace(/ /g,"").toLowerCase();
              $('#'+transformText).fadeIn(500).siblings().fadeOut(300);


           });

       })
    </script>
</body>
</html>