{{!-- Header --}}
<header id="header">
    <div class="row w-100 m-0">
        <div class="col-12 col-lg-6 content d-flex pl-5 ">
            <div class="content-image">
                <img src="/assets/imgs/dev_icon.png" alt="Icon" width="100px">
            </div>
            <div class="content-decription px-4">
                <h6>THE SCHOOL OF</h6>
                <h1>Programming</h1>
                <p>Programming is a critical skill in today’s economy, and there is a shortage of qualified developers.
                    Whether you’re new to coding, adding more skills, or advancing your career, 10 hours a week will
                    prepare you for your ideal developer job.</p>
                <a href="#" class="btn btn-info">Get Started</a>
            </div>
        </div>
        <div class="col-12 col-lg-6 image">

        </div>
    </div>
</header>

{{!-- Course --}}
<section id="course">
    <div class="container">
        <h2>Your path to the right job</h2>
        <div class="row w-100">
            <div class="col-12 col-lg-3">
                <ul class="tab-header">
                    <li>Fundamentals</li>
                    <li>Front-End Web Developer</li>
                    <li>Back-End Web Developer</li>
                    <li>Mobile Developer</li>

                </ul>
            </div>
            <div class="col-12 col-lg-7">
                <ul class="tab-content" id="fundamentals">
                    <li>
                        <h2>Fundamentals</h2>
                        <p>Establish a foundation in programming and prepare for one of our career paths with these
                            Nanodegree programs made with beginners in mind.</p>
                        <h5>RECOMMENDED PROGRAMS</h5>


                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Introduction To Programming</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Programming HTML,CSS,Python</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Introduction To Programming</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Programming HTML,CSS,Python</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Introduction To Programming</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Programming HTML,CSS,Python</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Introduction To Programming</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Programming HTML,CSS,Python</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>

                    </li>
                </ul>
                <ul class="tab-content " id="front-endwebdeveloper">
                    <li>
                        <h2>Front-End Development</h2>
                        <p>Demand for front-end developers is widespread across every industry and continues to rise. By
                            mastering the valuable skills of this career path, you’ll be prepared for roles at a wide
                            array of companies, from startups to global organizations.</p>
                        <h5>RECOMMENDED PROGRAMS</h5>


                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Vanilla Javascript</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Vanilla js</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>React & Redux Development</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction React & Redux Development</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Introduction To Angular</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Programming Angular</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Introduction To Vuejs</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Vuejs</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>

                    </li>
                </ul>
                <ul class="tab-content " id="back-endwebdeveloper">
                    <li>
                        <h2>Back-End Development</h2>
                        <p>In this path you'll learn to create complex server-side web applications that use powerful
                            relational databases to persistently store data. You’ll build applications that can support
                            any front end, and scale to support hundreds of thousands of users.</p>
                        <h5>RECOMMENDED PROGRAMS</h5>


                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>NodeJs Development</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction NodeJs Development</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Rubby & Rails</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Rubby & Rails Development</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Java Development</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Programming Java Development</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>
                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>Python Development</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction Python Development</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>

                    </li>
                </ul>
                <ul class="tab-content" id="mobiledeveloper">
                    <li>
                        <h2>Mobile Development</h2>
                        <p>In this path, you’ll learn to code, and advance to programing in Swift, then create your
                            first iOS apps from scratch. You’ll build a portfolio you can present in interviews, learn
                            mobile development fundamentals like design patterns, and tackle common technical interview
                            questions to ultimately land a job as an iOS Developer. If you are new to programming, start
                            with the Intro to Programming Nanodegree Program and establish a foundation with the
                            fundamentals before starting the iOS Developer Nanodegree Program.</p>
                        <h5>RECOMMENDED PROGRAMS</h5>


                        <div id="intro">
                            <a href="#" id="intro-link"></a>
                            <h2>React Native Development</h2>
                            <h5>CONCEPTS COVERED</h5>
                            <h5>Introduction React Native Development</h5>
                            <div><span><i class="material-icons">
                                        signal_cellular_alt
                                    </i> Beginner</span></div>
                            </a>
                        </div>




                    </li>
                </ul>

            </div>
            <div class="col-12 col-lg-2"></div>
        </div>
    </div>
</section>

<section id="advantage">
    <div class="container">
        <h2>All Our Nanodegree Programs Include</h2>
        <div class="row w-100">
            <div class="col-12 col-lg-6 ad-col-1 mt-5">
                <div class="ad-image">
                    <img src="/assets/imgs/ad1.png" alt="ad1" class="img-fluid">
                    <span class="svg">
                        <img src="/assets/imgs/ad1.svg" alt="ad1">
                    </span>
                </div>
                <div class="ad-content">
                    <h3>Real-world projects from </h3>
                    <span></span>
                    <h3>industry experts</h3>

                    <p class="pt-5">With real world projects and immersive content built in partnership with top tier
                        companies, you’ll master the tech skills companies want.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 ad-col-1 mt-5">
                <div class="ad-image">
                    <img src="/assets/imgs/ad2.jpg" alt="ad1" class="img-fluid">
                    <span class="svg">
                        <img src="/assets/imgs/ad2.svg" alt="ad1">
                    </span>
                </div>
                <div class="ad-content">
                    <h3>1-on-1 technical mentor </h3>
                    <span></span>
                    <h3></h3>

                    <p class="pt-5">Get a knowledgeable mentor who guides your learning and is focused on answering your
                        questions, motivating you and keeping you on track.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 ad-col-1 mt-5">
                <div class="ad-image">
                    <img src="/assets/imgs/ad3.png" alt="ad1" class="img-fluid">
                    <span class="svg">
                        <img src="/assets/imgs/ad3.svg" alt="ad1">
                    </span>
                </div>
                <div class="ad-content">
                    <h3>Personal career coach and </h3>
                    <h3 class="mt-4">career services</h3>
                    <span></span>

                    <p class="pt-4">You’ll have access to career coaching sessions, interview prep advice, and resume
                        and online professional profile reviews to help you grow in your career.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 ad-col-1 mt-5">
                <div class="ad-image">
                    <img src="/assets/imgs/ad4.png" alt="ad1" class="img-fluid">
                    <span class="svg">
                        <img src="/assets/imgs/ad4.svg" alt="ad1">
                    </span>
                </div>
                <div class="ad-content">
                    <h3>Flexible learning program </h3>
                    <span></span>
                    <h3></h3>

                    <p class="pt-5">Get a custom learning plan tailored to fit your busy life. Learn at your own pace
                        and reach your personal goals on the schedule that works best for you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
