@import 'webfonts';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
nav{


    font-family: 'Open sans';
    font-size:16px;
    font-weight:700;
    line-height: 31px;
    color:#525c65;

    li{
        &:first-child{
            border-right: 1px solid gray;
            padding-right: 50px;
            padding-left:50px;
            @media(max-width:991px){
                border-right: none;
            }
        }

        &:last-child{
            a{
                color:white !important;
               font-size: 15px;
               font-weight: 700; 
            }
        }

        .dropdown-menu{
            padding:30px 0;
            background:#e5eff5;
            position: absolute;
            top:45px;
            width:300px;
            border:none !important
        }
    }

}
